body {
    background-color: white;
    background-image: url(../img/school.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    background-color: white;
    width: 1250px;
    height: 170px;
    margin: 0 auto;
}

#acontainer {
    background-color: #E6E6E6;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
}

#home, #about, #programs, #register{
    font-size: 20px;
    width: 25%;
    text-align: center;
    float: left;
    padding-top: 15px;
}

a {
    color: #4C0000;
    text-decoration: none;
}

a:hover {
    color: white;
}

#bcontainer {
    background-color: white;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}