body {
    background-color: white;
    background-image: url(../img/school.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    background-color: white;
    width: 1250px;
    height: 170px;
    margin: 0 auto;
}

#acontainer {
    background-color: black;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
}

#home, #about, #programs, #register{
    font-size: 20px;
    width: 25%;
    text-align: center;
    float: left;
    padding-top: 15px;
}

a {
   color: #4C0000;
   text-decoration: none;
}

a:hover{
    color: white;
}

a:active{
    color: white;
}

#bcontainer {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}

#a {
    background-color: black;
    width: 655px;
    height: 400px;
    float: left;
}

#b{
    background-color: darkslategrey;
    width: 520px;
    height: 400px;
    float: right;
}

#ccontainer {
    background-color: black;
    margin: 0 auto;
    margin-top: 15px;
    width: 1200px;
    height: 300px;
}